.animal {
    width: 75px;
    position: absolute;
  }

  /* .animal img {
    width: 100px;
  }
  
  .animal .name {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Space and Astronomy';
  }
   */